In [31]:
import mysql.connector
from mysql.connector import Error
def server_connection(host_name,user_name,user_password,db_name):
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            db=db_name
        )
        cursor=connection.cursor()
        cursor.execute("select * from emp")
        print("mysql database connection successful")
        res=cursor.fetchall()
        for i in res:
          print(i,)
    except Error as err:
        print(f"Error :",err)

In [32]:
connection = server_connection("localhost","root","Subbu@2003","practice")

mysql database connection successful
(7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 1755, 100, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 4014, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30)
(7782, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 4, 19), 4050, None, 20)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 4, 19), 4050, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 17), 5000, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, None, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.date(1987, 5, 23), 1485, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 4050, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 2000, None, 10)