In [64]:
import mysql.connector
from mysql.connector import Error
def server_connection(host_name,user_name,user_password,db_name):
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            db=db_name
        )
        print("mysql database connection successful")
        print(f"connected to {db_name} database")
    except Error as err:
        print(f"Error :",err)
    return connection

In [65]:
connection = server_connection("localhost","root","Subbu@2003","practice")

mysql database connection successful
connected to practice database

In [66]:
def execute_query(connection,query):
    try:
       cursor=connection.cursor()
       cursor.execute(query)
       print("Query Successful")
       res=cursor.fetchall()
       for i in res:
        print(i)
    except Error as e:
       print(e)

In [70]:
execute_query(connection,"""SELECT ENAME FROM EMP WHERE DEPT_NO=20""")

Query Successful
('SMITH',)
('JONES',)
('SCOTT',)
('SCOTT',)
('ADAMS',)
('FORD',)