In [26]:
import mysql.connector
from mysql.connector import Error
def server_connection(host_name,user_name,user_password,db_name):
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            db=db_name
        )
       
    except Error as err:
        print(f"Error :",err)

In [23]:
connection = server_connection("localhost","root","Subbu@2003","practice")

In [25]:
cursor=connection.cursor()
cursor.execute("select * from emp")
print("mysql database connection successful")
res=cursor.fetchall()
for i in res:
    print(i)

AttributeError: 'NoneType' object has no attribute 'cursor'