In [47]:
import mysql.connector
from mysql.connector import Error
def server_connection(host_name,user_name,user_password,db_name):
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            db=db_name
        )
        
        print("mysql database connection successful")
        
    except Error as err:
        print(f"Error :",err)

In [48]:
connection = server_connection("localhost","root","Subbu@2003","practice")

mysql database connection successful

In [53]:
def execute_query(connection):
    try:
       cursor=connection.cursor()
       cursor.execute("select * from emp")
       print("Query Successful")
       res=cursor.fetchall()
       for i in res:
        print(i)
    except Error as e:
       print(e)

In [55]:
execute_query(connection)

AttributeError: 'NoneType' object has no attribute 'cursor'